@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.context {
    width: 100%;
    position: absolute;
    top: 30vh; /* Ajusta este valor según tus necesidades */
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 0vh; /* Ajusta este valor según tus necesidades */
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./Assets/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 150px;
  cursor: pointer;
}

nav button {
  border: none;
  outline: none;
  background-color: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.lang-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}

.lang-btn img {
  width: 10px;
  margin-left: 10px;
} 

.fa-globe {
  color: #fff;
  width: 10px;
  margin-right: 10px;
}

.header-content {
  position: absolute;
  top: 15%; /* Ajusta este valor según tus necesidades */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.header-content p{
  margin-top: 40px;
}

.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}

.email-signup {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}

.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}

.email-signup button {
  background-color: #db0001;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}

.header-content {
  position: absolute;
  top: 15%; /* Ajusta este valor según tus necesidades */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 70px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px; /* Aumenta este valor para mover el botón más abajo */
}

.large-button {
  padding: 110px 60px; /* Increase the padding to make the button slightly larger */
  font-size: 18px;
  margin: 0px 20px;
  background-color: #ff0000; /* Cambia el color según tus necesidades */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1s infinite; /* Mueve la animación aquí para que se ejecute siempre */
}

.sign-in-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #0000ff; /* Cambia el color según tus necesidades */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #0000cc; /* Cambia el color según tus necesidades */
}

.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  animation: bubbleAnimation 5s infinite;
}
@keyframes slideDown {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
  animation: slideDown 2s ease-out;
}
