


.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./Assets/header-image.png);
  background-size: cover;
  background-position: center;
  padding: 10px 8%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logo {
  width: 150px;
  cursor: pointer;
}
nav button {
  border: none;
  outline: none;
  background-color: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}
.lang-btn {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 7px 10px;
}
.lang-btn img {
  width: 10px;
  margin-left: 10px;
} 
.fa-globe {
  color: #fff;
  width: 10px;
  margin-right: 10px;
}
.header-content {
  position: absolute;
  top: 15%; /* Ajusta este valor según tus necesidades */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}
.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}
.header-content h3 {
  font-weight: 400;
  margin-bottom: 20px;
}
.email-signup {
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
}
.email-signup input {
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}
.email-signup button {
  background-color: #db0001;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 15px 30px;
}
.header-content {
  position: absolute;
  top: 15%; /* Ajusta este valor según tus necesidades */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 70px;
}

.header-content h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 650px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 250px; /* Aumenta este valor para mover el botón más abajo */
}

.large-button {
  padding: 20px 35px; /* Increase the padding to make the button slightly larger */
  font-size: 18px;
  background-color: #ff0000; /* Cambia el color según tus necesidades */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1s infinite; /* Mueve la animación aquí para que se ejecute siempre */
}

.sign-in-button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #0000ff; /* Cambia el color según tus necesidades */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-in-button:hover {
  background-color: #0000cc; /* Cambia el color según tus necesidades */
}
.bubble-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.bubble {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  pointer-events: none;
  animation: bubbleAnimation 5s infinite;
}
